<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" />
		<title>BrewR</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{{!-- Need to test file paths on lines 5,10,11, 12 to confirm they are linked correctly --}}
        <script src="../public/js/login.js"></script>
        <script src="../public/js/members.js"></script>
        <script src="../public/js/signup.js"></script>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>