<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">j
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
	<link href="stylesheets/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/stylesheets/style.css" type="text/css" />
	<title>BrewR</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{{!-- Need to test file paths on lines 5,10,11, 12 to confirm they are linked correctly --}}
	<script src="/js/login.js"></script>
	<script src="../../public/js/members.js"></script>
	<script src="/js/signup.js"></script>
	<script src="/assets/js/quotes.js"></script>

</head>

<body>
	{{{ body }}}
</body>

</html>