  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
        <h2>Brewer's Feed</h2>
    </div>
  </div>
  