<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="brewr-brand">brewR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Options</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/homebrewery">Home</a>
          <a class="dropdown-item" href="/support">Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12" id="breweryName"></div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="col-6 alert alert-dark mt-3" role="alert">
        <div class="row">
          <div class="col-12" id="breweryAddress"></div>
        </div>
        <div class="row">
          <div class="col-12" id="breweryPhone"></div>
        </div>
        <div class="row">
          <h7 class="col-6">Dogs: </h7>
          <div class="col-6" id="breweryDogs"></div>
        </div>
      </div>
    </div>
    <div class="col-7 alert alert-dark mt-2" role="alert">
      <div class="row">
        <h2>On Tap</h2>
      </div>
      <div class="col-12 row">
        <h5 class="col-4">Name</h5>
        <h5 class="col-4">Style</h5>
        <h5 class="col-3">Hops</h5>
        <h5 class="col-1">ABV%</h5>
      </div>
      <div class="row col-12" id="ontapFeed">
      </div>
    </div>
  </div>
    <div class="col-4 alert alert-dark mt-1" role="alert">
      <div class="row">
        <h7 class="col-6">Monday: </h7>
        <div id="mondayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Tuesday: </h7>
        <div id="tuesdayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Wednesday: </h7>
        <div id="wednesdayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Thursday: </h7>
        <div id="thursdayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Friday: </h7>
        <div id="fridayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Saturday: </h7>
        <div id="saturdayFeed"></div>
      </div>
      <div class="row">
        <h7 class="col-6">Sunday: </h7>
        <div id="sundayFeed"></div>
      </div>
    </div>



</div>
<script src="/js/breweryfeed.js"></script>