form.signup {
  margin-top: 30px;
}
form.login {
  margin-top: 50px;
}

body {
  font-size: 18px;
  line-height: 27px;
  background-color: rgb(233, 233, 233);
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

#lightbeermug {
  size: 50%;
}

.hidden {
  display: none!important;
}

.searchBtn {
  display: inline;
}

.signUpUserType {
  margin-top: 30px;
}

#brewr-brand {
  font-family: 'Bevan', cursive;
  font-size: 24pt;
}

.card {
  margin: 5pt;
}

.card-header {
  padding: 0;
}

.delete {
  float: right;
  padding: 1 px;
}

/* #breweryContainer {
  float: left;
  margin-left: 70px;
  margin-top: 30px;
} */