form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-size: 18px;
  line-height: 27px;
  background-color: rgb(233, 233, 233);
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

#lightbeermug {
  size: 50%;
}